$font-stack-primary: Helvetica, sans-serif;
$font-stack-secondary: serif;

$primary-dark-color: #000;
$secondary-dark-color: #000;
$primary-dark-font-color: #473E3B;
$secondary-dark-font-color: #000;
$primary-light-color: #fff;
$secondary-light-color: #fff;
$primary-light-font-color: #fff;
$secondary-light-font-color: #fff;




