$font-stack-primary: Helvetica, sans-serif;
$font-stack-secondary: serif;

$primary-dark-color: #000;
$secondary-dark-color: #000;
$primary-dark-font-color: #473E3B;
$secondary-dark-font-color: #61554F;
$primary-light-color: #fff;
$secondary-light-color: #fff;
$primary-light-font-color: #fff;
$secondary-light-font-color: #fff;

$primary-width: 1200px;
$secondary-width: 960px;

$font-size-xxxl: 51px;
$font-size-xxl: 38px;
$font-size-xl: 28px;
$font-size-l: 21px;
$font-size-m: 16px;
$font-size-s: 12px;
$font-size-xs: 9px;